# JWT
JWT_SECRET=your_jwt_secret_here_please_change_this_to_random_string_32chars

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=t_match_database
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=:8080

# Redis
REDIS_ADDR=redis:6379
REDIS_DB=0
REDIS_USER=
REDIS_MAX_RETRIES=3
REDIS_DIAL_TIMEOUT=5000000000
REDIS_TIMEOUT=3000000000

# Email
EMAIL_ADDR=mailhog:1025
EMAIL_HOST=mailhog
EMAIL_IDENTITY=
EMAIL_USERNAME=noreply@tmatch.space
EMAIL_PASSWORD=

# CORS
CORS_ALLOW_ORIGIN=http://localhost:8000
CORS_ALLOW_HEADERS=Content-Type,Authorization,X-Verify-Session,X-New-Access-Token

# S3/MinIO
S3_ENDPOINT=minio:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_USE_SSL=false
S3_PORT=:9000
S3_HOST=0.0.0.0

# DaData
DA_DATA_API_KEY=your_dadata_api_key_here_get_from_dadata_ru

# Recsys (рекомендательная система)
RECSYS_URL=http://recsys:8000

# Config
CONFIG_PATH=./configs/configuration.json